<!-- build:js src/framework/common/common.js -->
<script src="src/framework/common/xhr.js"></script>
<script src="src/framework/common/utils.js"></script>
<!-- endbuild -->

<!-- build:js src/framework/artTemplate/art.js -->
<script src="src/framework/artTemplate/artTemplate-simple.js"></script>
<script src="src/framework/artTemplate/filter.js"></script>
<script src="src/framework/artTemplate/view.js"></script>
<!-- endbuild -->

<!-- build:css src/resource/css/common.css -->
<link rel="stylesheet" href="src/resource/css/style.css">
<link rel="stylesheet" href="src/resource/css/add.css">
<!-- endbuild -->

